[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsonpickle = "*"

[dev-packages]
flake8 = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-import-order = "*"
toml = "*"
flake8-class-attributes-order = "*"
mypy = "*"

[requires]
python_version = "3.9"
