[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsonpickle = "*"

[dev-packages]
flake8 = "*"
pep8-naming = "*"
flake8-builtins = "*"
toml = "*"
flake8-class-attributes-order = "*"
mypy = "*"
pre-commit = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
publish = "python setup.py clean --all bdist_wheel"
